body {
    font-family: Roboto;
}
header {
    background-color: #00cc66;
}
.navbar-brand {
    color: #FFFFFF;
}
.form-control {
    background-color: #00cc66;
    color: #FFFFFF;
}
.nav-link {
    color: #FFFFFF;
}
.lg-only {
    display: none;
}
.mobile {
    background-color: #F2F3F8;
}
.card {
    border-radius: 0px;
}
.card-title {
    font-weight: bold;
}
@media screen and (min-width: 992px) {
    .excl-lg {
        display: none;
    }

    .lg-only {
        display: flex;
    }
}