body {
    font-family: Roboto;
}
header {
    background-color: #00cc66;
}
.navbar-brand {
    color: #FFFFFF;
}
.form-control {
    background-color: #00cc66;
    color: #FFFFFF;
}
.nav-link {
    color: #FFFFFF;
}
.lg-only {
    display: none;
}
.mobile {
    background-color: #F2F3F8;
}
.card {
    border-radius: 0px;
}
.card-title {
    font-weight: bold;
}
.card-border-bottom {
    border-bottom: 0px;
}
.card-border-top {
    border-top: 0px;
}
.card-color-lime {
    background-color: #00ff00;
    color: #FFFFFF;
}
.arr-up {
    color:#00cc66;
}
.arr-down {
    color: #ff0000;
}
@media screen and (min-width: 992px) {
    .excl-lg {
        display: none;
    }

    .lg-only {
        display: flex;
    }
    .side-nav {
        background-color: #333333;
    }
    .container {
        margin-left: 0px;
    }
}