body {
    font-family: Lato;
    background-color: #FFFFFF;
}
.section1 {
    background-image: url("../images/banner3.jpg");
    height: 100px;
}
.about-us {
    color: #FFFFFF;
}
.home {
    color: #FFA500;
}
.p-orange {
    color: #FFA500;
}
h2 {
    font-weight: bold;
}
.btn-primary {
    background-color: #FFA500;
    border-color: #FFA500;;
}
.section3 {
    background-color: #936be80d;
}