body {
    font-family: Lato;
}
.main {
    background-color: #FFFFFF;
}
.section1 {
    background-image: url("../images/banner3.jpg");
    height: 100px;
}
.about-us {
    color: #FFFFFF;
}
.home {
    color: #FFA500;
}
.p-orange {
    color: #FFA500;
}
.p-bold {
    font-weight: bold;
}
h2 {
    font-weight: bold;
}
.btn-primary {
    background-color: #FFA500;
    border-color: #FFA500;;
}
.section3 {
    background-color: #936be80d;
}
h3 {
    font-weight: bold;
}
h4 {
    font-weight: bold;
}
.myself {
    background: url("../images/ademusire-photo.jpg") no-repeat center;
        background-size: cover;
        height: 16em;
        position: relative;
        border-radius: 8px;
        margin-top: 20px;
        margin-right: 10px;
}
.image-text {
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}
.image-text > p {
    font-size: 80%;
}
.myself2 {
    background: url("../images/ademusire-photo.jpg") no-repeat center;
    background-size: cover;
    height: 16em;
    position: relative;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 10px;
}
.lg-only {
    display: none;
}
footer {
    background-color: #936be80d;
}
footer .nav-link {
    color: #6c757d;
    padding-left: 0rem;
}
.subscribe {
    background-color: #FFFFFF;
}
.subscribe > .btn-primary {
    background-color: #0453B5;
    border-color: #0453B5;
    ;
}
.social-media {
    color: #000000;
}
@media screen and (min-width: 992px) {
    .excl-lg {
        display: none;
    }
    .lg-only {
        display: flex;
    }
    .myself {
        height: 23em;
    }
}